.wrapper{
    padding-top: 2rem;
    width: 100%;
    min-height: 27rem;
}

.container{
    width: 73%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.242);
    border-radius: 20px;
    /* box-shadow: 0 3px 10px rgba(52, 52, 52, 0.079); */

}

.card{
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img{
    width: 9rem;
    margin: 0 auto;
}

.card p{
    margin: 2rem auto;
    font-size: 18px;
    color: #636F76;
    width: 80%;
    text-align: center;

}

.btn_wrapper{
    align-self: center;
    text-align: center;
    display: inline-block;
}

.btn_wrapper h1{
    padding: 8px 3px;
    color: rgb(228, 227, 224);
}

@media (max-width: 900px)
{   
    .wrapper{
        background-size: contain;
    }
}


@media (max-width: 780px)
{   
    .container{
        background-color: transparent;
        flex-direction: column;
    }

    .card{
        margin: 0 auto;
        width: 25rem;
        margin-bottom: 2rem;
    }
}