.container{
    margin: 10px auto;
    border-radius: 24px;
    display: flex;
    align-items: center;
    color: rgba(31, 31, 31, 0.63);
    font-size: 1.1rem;
    background-color: rgba(91, 91, 91, 0.201);
}

.container img{
    width: 3rem;
    height: 3rem;
    border-radius: 24px;
    margin-right: 1rem;
    object-fit: cover;
}

@media (max-width: 460px)
{
    .container{
        padding: 0;   
        margin-bottom: 20px;
    }

    .container img{
        width: 3rem;
    }
}