.modal_content{
    width: 28rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 24px;
    display: flex;
    max-height: 90vh;
    overflow: scroll;
}


@media (max-width: 500px) {
    .modal_content{
        width: 22rem;
    }
}


@media (max-width: 400px) {
    .modal_content{
        width: 92vw;
    }
}

@media (max-width: 280px) {
    .modal_content{
        width: 95vw;
    }
}
