.row {
  display: flex;
  min-height: 40vh;
  width: 90%;
}

.text_heading h2{
  margin: 24px;
  text-align: center;
  font-size: 30px;
  color: #4e4c4c;

}
.text_heading h2 span{
  color: #F08D32;
}

.text_heading p{
  margin: 24px;
  text-align: center;
  font-size: 18px;
  color: #75789e;
  font-weight: 500;
  line-height: 22px;
}

.container_column {
  text-align: center;
  margin: 2rem 1rem;
}

.align_top{
  margin-top: 6rem;
}

.point_card {
  width: 100%;
  height: 330px;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%,  #F08D32 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.earn_point {
  font-size: 21px;
  text-transform: uppercase;
  margin: 1em 0;
  color: #0B132A;
  letter-spacing: 1px;
}

.description{
  color: #575a7b;
  font-size: 20px;
  font-weight: 400;
}

.description p span{
  color: #F08D32;
}

.icon_wrapper {
  background-color:  #FFF;
  border: solid 1px #DEDEDE;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.upgrade
{
  display: inline-block;
  margin-bottom: 0;
  margin-top: 2rem;
}

._purchased_point_card *{
  background-color: greenyellow;
}

.upgrade img{
  width: 9px;
  margin-right: 10px;
}

.upgrade h2{
  font-size: 13px;
  color: white;
}

.innner_upgrade{
  display: flex;
  padding: 7px;
  align-items: center;
}


@media screen and (min-width: 768px) {
  .container_column {
    flex: 0 50%;
  }
}


@media screen and (max-width:990px) {
  .row{
    flex-wrap: wrap;
    margin: 25px; 
  }
  
  .align_top{
    margin: 0
  }
  .container_column{
    margin: auto;
    margin-bottom: 2rem;
    flex: 0 40%;
  }
}

@media screen and (max-width: 700px) {
  .container_column{
    margin: 1.5rem auto;
    margin: auto;
  }
  
  .align_top{
    margin-left: 0;
    margin-top: 0;
  }
  .point_card{
    width: 60vw;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .container_column{
    width: 90vw;
  }
  
  .point_card{
    width: 80vw;
  }
}