.wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.user_content{
    justify-content: center;
    display: flex;
    margin-top: 2rem;
    align-items: center;
}

.user_avatar img{
    width: 5rem;
}

.profile_name_email{
    margin: 0 3rem;
}
.profile_name_email h1{
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(42, 42, 42);

}
.profile_name_email p{
    color: rgb(79, 79, 79);
    font-size: 20px;
}

.country{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.country span{   
    font-size: 20px;
    margin-left:  1rem;
    color: #EE7D15;
}

.country img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .user_avatar{
        display: none;
    }

    .profile_name_email{
        margin-left: 0;
    }
    
}