
.container{
  width: 100%;
  height: 100%;
  display: grid;
  margin-bottom: 0;
  padding-bottom: 0;
}

.modal_wrapper{
  background-color: rgb(255, 255, 255);
  width: 30rem;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
  border-radius: 13px;
  max-height: 80vh;
  overflow: scroll;
  padding: 1rem; 
}