.wrapper{
    background-color: white;
    border-radius: 24px;
    width: 28rem;
    padding-top: 10px;
}

@media (max-width: 500px) {
    .wrapper{
        width: 21rem;
    }
}

@media (max-width: 360px) {
    .wrapper{
        width: 90vw;
    }
}


@media (max-width: 310px) {
    .wrapper{
        width: 85vw;
    }
}

@media (max-width: 270px) {
    .wrapper{
        width: 92vw;
    }
}