.container{
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
    padding: 1rem 0;
    margin: 5rem auto;
    position: relative;
    overflow: hidden;
}

/* .header_line{
    width: 85%;
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 3rem;
} */

.header_line{
    font-size: 22px;
    margin-bottom: 3rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.593);
}

.header_line span{
    color: #EE7D15;
}

.filter{
    display: flex;
    align-items: center;
    position: sticky;
}

.filter h1{
    font-size: 17px;
}

.filter img{
    width: 3rem;
}


@media (max-width: 900px)
{
    .controllers{
        width: 70%;
    }
}