

.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2.2rem;
    border: 2px solid rgba(48, 47, 47, 0.3);
    border-radius: 11px;
    
}

.container
{
    position: relative;
    width: 100%;
    border-radius: 11px;
}


.input
{
    font-family: 'Poppins';
    font-size: 15px;
    color: #7F5537;
    line-height: 1.2;
    display: block;
    height: 40px;
    width: 100%;
    background: transparent;
    border-radius: 11px;
}


.focus_input
{
    pointer-events: none;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}


.focus_input:after
{
    font-family: 'Poppins';
    font-size: 15px;
    color:#999999;
    content: attr(data-placeholder);
    width: 100%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    position:absolute;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
}


.input:focus + .focus_input:after
{
    top: -25px;
    align-items: start;
}

.has_val.input + .focus_input::after
{
    top: -25px;
    align-items: start;
}



/* Alerts */


.alert_validate:before
{
    content: attr(data-validate);
    position: absolute;
    max-width:70%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #c80000;
    padding: 4px 25px 4px 10px;
    top: 50%;
    border-radius: 50px;
    transform: translateY(-50%);
    right:0px;
    pointer-events: none;
    font-family: 'Poppins';
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}



.alert_validate:after
{
    content: "!";
    font-family:material-design-iconic-font;
    font-size: 1.6rem;
    color: #c80000;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
}

.alert_validate:hover:before
{
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px){
    .alert_validate:hover:before
    {
        visibility: visible;
        opacity: 1;
    }
}