.container{
    position: relative;
    cursor: pointer;
}

.phone_icon{
    width: 45px;
}

.qr_icon_wrapper{
    width: 25px;
    position: absolute;
    top: 25%;
    right: 0;
}

.qr_icon{
    position: relative;
}

.scan_line{
    position: absolute;
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
    animation-name: start;
    animation-duration: 0.5s;
    animation-direction: alternate; 
    animation-iteration-count: infinite;
}

@keyframes start {
    from {top: 0%;}
    to {top: 90%;}

}